<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Document</title>
</head>
<header ondragstart="return false">
    <a href="/"><img id="logo-img" src="/static/logox.png" alt="logo-icon"></a>
    <div id="search-div">
        <input id="search-box" autocomplete="off" type="text">
        <img id="search-logo" src="/static/search_icon.png" alt="search_icon">
    </div> <!--hidden for students-->
    <a class="header-links" href="/">Home</a>
    <a class="header-links" href="/xlogout">Logout</a>
    <div id="profile">
        <img id="profile-icon" src="/static/profile_icon.webp" alt="profile">
        <div id="username">{{ data.name }}</div>
        <img id="drop-icon" src="/static/drop_arrow_icon.png" alt="drop_icon">
    </div>

</header>

<body>
    <a href="/train">Train</a>
    <script src="/static/js/header.js"></script>
</body>

</html>